<div class='text-center card' id='food-container'>
  <h2>Type of Food: {{name}}</h2>
  <p>Amount: {{food_amount}}</p>
  <p>Calories: {{calories}}</p>
  <p>Protein: {{protein}}</p>
  <p>Fat: {{fat}}</p>
  <p>Carbohydrates: {{carbs}}</p>
</div>